@model IEnumerable<LZZY.Net.Music.Models.GenreViewModel>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @*@item.GenreName*@
            @Html.ActionLink(item.GenreName , "Display", "Genre", new { id = item.GenreId },null)
        </li>
    }
</ul>