ul#album-list
{
    list-style:none;
    margin-left:0px;
}
ul#album-list li
{
    height:130px;
    width:100px;
    float:left;
    margin:10px;
    text-align:center;
}
ul#album-list li a,ul#album-list li .button
{
    font-size:13px;
    float:left;
}
ul#album-list li a span
{
    color:#0094ff
    text-decoration: underline;
}
.myimg{
    width:120px;
    border:2px blue solid;
    box-shadow:5px 6px 3px #c7bdbd;
}
.thumbnail{
    width:120px;
}