@using CRUD.HTML
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <img src="~/Content/JPG/b3e4836420762a97ce7226c39492314e.jpg" />
</div>
<div>
    @Html.Image(alt: "光晕", src: "~/Content/JPG/6041414912a403d679f63cdaa302a4d2.jpg")
</div>


