
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadTempDatat</title>
</head>
<body>
    <div> 

        @ViewData["Title"]
        @ViewData["Name"]
    </div>
</body>
</html>
