
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempDataTest</title>
</head>
<body>
    <div> 
        @ViewData["Title"]
       @ViewData["Name"]
        <a>@ReadTempDatat()</a>
    </div>
</body>
</html>
